* {
    box-sizing: border-box;
}

html, body {
    font-size: 1rem;
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100%;
    overflow-x: clip !important;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(13,35,68,.8);
    font-weight: 600;
}

.container {
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .container {
    @media screen and (min-width: 576px) {
      max-width: 540px;
    }
  }
  
  .container {
    @media screen and (min-width: 768px) {
      max-width: 730px;
    }
  }
  
  .container {
    @media screen and (min-width: 992px) {
      max-width: 960px;
    }
  }
  
  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1140px;
    }
  }
  
  .container {
    @media screen and (min-width: 1400px) {
      max-width: 1250px;
    }
  }