.Nav {
  .nav-menu-item {
    position: relative;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      // transform: translateX(-50%);
      width: 100%;
      height: 3px;
      background-color: rgb(158, 23, 23);
      // border-left: 5px solid transparent;
      // border-right: 5px solid transparent;
      // border-bottom: 5px solid #318CE7;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.active {
        // color: $default-red;
        &::after {
          opacity: 1;
        }
      }
    

    &:hover {
      &.active::after {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
  width: 100vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  // border-radius: 15px;
  background-color: rgba(10, 31, 61, 0.95);
  backdrop-filter: blur(5px);
  color: white;
  padding: 0;
  transition: all 0.5s ease;

  .drop-inner {
    @include container;
  }
}

.show {
  max-height: 500px;
  padding: 1.7rem 0.75rem;
}
